In [ ]:
16.8
Connect to books.db with SQLAlchemy and print the book titles in alphabetical order.

In [1]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the books.db SQLite database
engine = create_engine('sqlite:///books.db')

# Load the database structure
metadata = MetaData()
metadata.reflect(bind=engine)

# Reference the book table
book_table = metadata.tables['book']

# Create a query to select titles in alphabetical order
query = select(book_table.c.title).order_by(book_table.c.title)

# Execute the query and print results
with engine.connect() as connection:
    results = connection.execute(query).fetchall()

for row in results:
    print(row.title)

KeyError: 'book'